<a href="https://colab.research.google.com/github/Ashishkumar137/Machine-Learning-Practic/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 1

In [1]:
# question 1 : Find the most frequent value in a NumPy array

import numpy as np
x = np.array([1,2,3,4,5,1,2,1,1,1])
most_frequent_value = np.bincount(x).argmax()
print(f"Most frequent value: {most_frequent_value}")

Most frequent value: 1

In [2]:
# Quesion 2: compare two NumPy arrays?

an_array = np.array([[1, 2], [3, 4]])
another_array = np.array([[1, 2], [3, 4]])

comparison = an_array == another_array
print(comparison)

[[ True  True]
 [ True  True]]

In [3]:
# Question 3 Get the maximum value from given matrix

gfg = np.matrix('[64, 1; 12, 3]')
max_value = np.max(gfg)
print(f"Maximum value: {max_value}")

Maximum value: 64

In [4]:
# Question4: Replace negative value with zero in numpy array

ini_array1 = np.array([1, 2, -3, 4, -5, -6])
ini_array1[ini_array1 < 0] = 0
print(ini_array1)

[1 2 0 4 0 0]

In [5]:
# Q5: Make a Pandas DataFrame with two-dimensional list
import pandas as pd
lst = [['Geek', 25], ['is', 30], ['for', 26], ['Geeksforgeeks', 22]]

# creating df object with columns specified
df = pd.DataFrame(lst, columns=['Name', 'Age'])
print(df)

            Name  Age
0           Geek   25
1             is   30
2            for   26
3  Geeksforgeeks   22

In [6]:
# Question 6: Creating DataFrame from dict of narray/lists

data = {'Category': ['Array', 'Stack', 'Queue'], 'Marks': [20, 21, 19]}
df = pd.DataFrame(data)
print(df)

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

In [7]:
#Question 7: Create a Pandas DataFrame from List of Dicts
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]

df = pd.DataFrame(data)
print(df)

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

In [8]:
# Question 8: Selecting rows in pandas DataFrame based on conditions
record = {
    'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya'],
    'Age': [21, 19, 20, 18, 17, 21],
    'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
    'Percentage': [88, 92, 95, 70, 65, 78]
}
df = pd.DataFrame(record)

# selecting rows based on condition
selected_rows = df[df['Percentage'] > 80]
print(selected_rows)

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95

In [9]:
# Question 9: Limited rows selection with given column in Pandas
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)

# Select first three rows and only 'Name' and 'Qualification' columns
selected_rows = df[['Name', 'Qualification']].head(3)
print(selected_rows)

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA

In [10]:
# Question10: Sorting rows in pandas DataFrame
data = {'name': ['Simon', 'Marsh', 'Gaurav', 'Alex', 'Selena'],
        'Maths': [8, 5, 6, 9, 7],
        'Science': [7, 9, 5, 4, 7],
        'English': [7, 4, 7, 6, 8]}
df = pd.DataFrame(data)
df = df.sort_values(by=['Science'], ascending=False)
print("Sorting rows by Science:\n \n", df)

Sorting rows by Science:

      name  Maths  Science  English
1   Marsh      5        9        4
0   Simon      8        7        7
4  Selena      7        7        8
2  Gaurav      6        5        7
3    Alex      9        4        6